/* style.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#auth-container, #input-container, #shopping-list-container {
  background: linear-gradient(135deg, #72edf2, #5151e5);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 80%;
  color: white;
}

.image img{
  max-width: 100px;
  padding: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  background-color: #ff6f61;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #ff5a4a;
  transform: translateY(-2px);
}

#shopping-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#shopping-list li {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, background 0.3s;
  cursor: pointer;
  /* position: relative; */
}

#shopping-list li:nth-child(even) {
  transform: translateX(10px);
}

#shopping-list li:nth-child(odd) {
  transform: translateX(-10px);
}

#shopping-list li:hover {
  background: #fff3e0;
  transform: scale(1.05);
}

#shopping-list li button {
  background-color: black;
  text-align: right;
  position: absolute;
  right: 10px;
   top: 40%; /*Center vertically */
  transform: translateY(-50%); /* Adjust vertical positioning */
  background: none;
  border: none;
  color: #ff6f61;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem;
}

#logout-button {
  display: none;
  width: auto;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #dc3545;
}

@media (min-width: 768px) {
  #auth-container, #input-container, #shopping-list-container {
    max-width: 600px;
  }
}
